// binary and intermediate
*.o
*.os
*.a
*.so
log.html
HelloWorld

// scons
*.dblite

// creator project
*.creator
*.creator.user
*.creator.user.*
*.includes
*.files
*.config

// system
*.directory

// doc
doc/doc/
doc/html/
output/doc/
doxygen.log
